<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p v-text="car.brand"></p>
    <p>{{car.brand}}</p>
    <p v-html="car.brand"></p>
    <input v-model="car.brand">
    <button v-on:click="clickFn">按钮</button>
    <!-- <p>{{car.brand}}</p> -->
    <!-- <p v-text="car.color"></p> -->
    <!-- <p>{{msg}}</p> -->
    <!-- <p>大家好，我是xxx</p>
    <p>大家好，msg的内容是{{ msg }}</p>
    <p>大家好，msg的内容是{{ tag }}</p>
    <p v-text="msg" title="哈哈"></p>
    <p v-html="tag" title="哈哈"></p>
    <input v-model="msg">
    <button v-on:click="clickFn">按钮</button> -->
  </div>
  <script src="./src/observer.js"></script>
  <script src="./src/watcher.js"></script>
  <script src="./src/compile.js"></script>
  <script src="./src/vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        msg: 'hello vue',
        tag: '<h3>哈哈</h3>',
        car: {
          brand: '大众',
          color: 'yellow'
        }
      },
      methods: {
        clickFn () {
          // 在vue中，this指向当前实例
          console.log(this.$data.msg)
          this.$data.car.brand = '奔驰'
        }
      }
    })
  </script>
</body>
</html>